@use 'base/variables' as v;
@use 'base/mixins' as m;

.formulario{
    margin-top: 5rem;
    width: 100%;
}
.campo{
    display: flex;
    margin-bottom: 2.5rem;
    align-items: center;

    label{
        flex: 0 0 10rem;
    }
    input{
        flex: 1;
        border: none;
        padding: calc(v.$separacion / 4.5);
        border-radius: .4rem;
        &:disabled{
            background-color: lighten($color: #000, $amount: 40%);
            color: v.$blanco;
            cursor: not-allowed;
        }
    }
}