@use 'base/variables' as v;
@use 'base/mixins' as m;

.seccion{
    display: none;
    .text-center{
        text-align: center;
    }
}
.barra{
    margin: 0;
    p{
        text-align: center;
        @include m.tablet{
            text-align: left;
        }
    }
    span{
        color: #bbdefb;
        font-weight: bold;
    }
    @include m.tablet{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .boton{
        @include m.boton(v.$rojo, v.$blanco);
    }
}
.boton-eliminar{
    @include m.boton(v.$rojo, v.$blanco);
}
.mostrar{
    display: block;
}
.contenido-resumen{
    h3{
        padding-top: 2rem;
        &:last-of-type{
            border-top: 1px solid #495057;
        }
    }
    p{
        color: v.$blanco;
        span{
            color: v.$azul;
            font-weight: v.$bold;
        }
    }
    .contenedor-servicio{
       border-bottom: 1px solid #495057;
       @include m.tablet{
        width: 50%;
       }
    }
    .total{
        font-size: 2.5rem;
        font-weight: v.$bold;
        text-transform: uppercase;
        span{
            color: #1dd3b0;
        }
    }
}